.img_pg1 {
    width: 100%;
    height: 300px;
    object-fit: none;
    margin: auto;
}

.time_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-2100%, 20%);
}

.network_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-700%, 10%);
}

.wifi_icon {
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translate(-320%, -10%);
}

.charge_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-210%, 10%);
}

.img2_pg1 {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form_design {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(160, 157, 157, 0.2);
}

p {
    margin: 80px 50px;
    color: #535050;
    float: left;
}

.next_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 60px auto;
}

.next_icon img {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next {
    margin-top: -50px;
    margin-left: 80px;
}


.img_page2 {
    width: 100%;
    height: 100%;
    /* object-fit: none; */
    margin: auto;
}

.img2_page2 {
    width: 100%;
    height: 500px;
}

.div1_pg2 {
    margin-top: -510px;
}

.prev_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0px 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.prev_icon img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.love_icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin: -40px 400px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.love_icon img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pg2text {
    margin-top: 350px;
}

.pg2text h6 {
    font-size: 12px;
    margin-top: -5px;
}

.div2_pg2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 2px;
    box-shadow: 0 4px 8px 0 rgba(160, 157, 157, 0.2);
}

.row {
    /* background: blue; */
    /* content: ""; */
    /* clear: both; */
    width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.column {
    float: left;
    width: 20%;
    margin-left: 3%;
    margin-right: 2%;
    flex: 20%;
    /* padding: 5px; */
}
.column h5{
    margin-top: -15px;
}
.div3_pg2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 2px;
    margin-top: 30px;
    margin-bottom: -30px;
    box-shadow: 0 4px 8px 0 rgba(160, 157, 157, 0.2);
}
.buttom{
    margin-top: 50px;
    padding: 10px;
    border-radius: 7px;
}
.home{
    background: #6CC57C;
    border-radius: 20px;
    width: 90px;
}
.home img{
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 2px;

}
.home p{
    margin-top: -23px;
    margin-left: 35px;
}
/* .buttom_img{
    margin-left: 40px;
    margin-right: 40px;
    background: #000;
} */
.buttom_adjust{
    width: 70%;
    margin-left: 120px;
    margin-top: -30px;
}
.buttom_img{
    margin-left: 80px;
    margin-right: 10px;
}